// geral
.all {
  display: flex;
  justify-content: space-around;
}

.info2 {
  margin: 30px 0;
}

.title{
  text-align: center;
  font-weight: bold;
}

// resultados
.competition{
  text-align: center;
  background-color: #E5E5E5;
  border-bottom: 1px dotted #E5E5E5;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}

.match {
  justify-content: space-around;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #E5E5E5;
  p {
    margin: 1.5px;
  }
}
.club-name{
  margin-left: 5px;
  margin-right: 5px;
  font-size:14px;
}
.home1{
  text-align:right;
}

.results{
  border: 5px solid #E5E5E5;
  width: 200px;

}
.result{
  border: 1px solid $footinvest-main;
  border-radius: 5px;
  width: 50px;
  justify-content: space-around;
  text-align: center;
  color: white;
  background-color: $footinvest-main;
  font-size: 14px;
}

// NEWS
.news{
  display: flex;
  margin-bottom: 30px;
  margin-top: 0px;
  position: relative;
  justify-content: space-around;
}


.news-product {
  overflow: hidden;
  height: 100px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.news-product img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.news-product h2 {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.news-product h3 {
  position: absolute;
  font-size: 14px;
  margin: 0;
}

.news-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.news-product .news-product-infos {
  margin-top: 25px;
  padding: 16px;
  width: 400px;
}

// ******************CARDS*****************

.left-cont {
  border: 1px solid $footinvest-main;
  border-radius: 5px;
}

.stock_up{
  color:white;
  background-color:#8EF4D3;
}

.stock_down{
  color:white;
  background-color:#FED9DA;
}

.cont-height {
  height: 10px;
}

.right-side {
  margin: 0px;
}

.main-container {
  display: flex;
}

#results {
  height: 100vh;
  position: fixed;
  width: 215px;
  margin-top: 45px;
  overflow: scroll;
  z-index: -1;
}

.tops {
  flex-grow: 1;
  margin-left: 220px;
  margin-top: 70px;
}

.feed-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .card-trip {
    width: 18%;
    max-height: 50%;
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 13px;
    }
  }
  img {
    height: 170px;
  }
}

@media screen and (max-width: 800px) {
  .feed-cards {
    justify-content: space-around;
    .card-trip {
      width: 100%;
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}

.fixed-coins {
  position: fixed;
  z-index:10;
  background: white;
}

.newspaper {
  padding-bottom: 20px;
}

.news-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 18%;
}

.news-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}


