.header-transactions {
  height: 335px;
  background: $footinvest-blue;
  // padding-bottom: 50px;
}

.transactions {
  display: flex;
  justify-content: center;
  margin-top: 70px;

  td {
    font-weight: lighter;
  }

  th {
    text-decoration: none;
    color: $footinvest-main;
  }
}
