.header {
  height: calc(100vh - 70px);
  background: #9DF3DC;
}

.header-info {
  // display: flex;
  // justify-content: center;
  position: relative;
}

.info {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 30px;
  h1 {
    text-align: center;
    color: $footinvest-main;
    font-weight: bold;
  }
  p {
    font-weight: lighter;
  }
  i {
    position: absolute;
    top: 10px;
    left: 30px;
  }
}

.header-charts {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 30px;
  height: 400px;
  h1 {
    text-align: center;
  }
}

#no-padding-top {
  padding-top: 0px;
}

#no-padding-bottom {
  padding-bottom: 0px;
}

.row {
  padding: 50px;
}

.card-trip {
  position: relative;
}

.player-flex {
  display: flex;
  justify-content: space-between;
}

.player-info-left {
  h3 {
    margin-bottom: 10px;
  }
  p {
    margin: 5px 0;
    font-size: 16px;
    color: $footinvest-black;
  }
}

.player-info-right {
  h3 {
    text-align: right;
    margin-bottom: 10px;
    color: $footinvest-black;
  }

  p {
    text-align: right;
    margin: 5px 0;
    font-size: 16px;
    color: $footinvest-black;
  }
}

.on-sale {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  h3 {
    color: $footinvest-black;
    font-size: 16px;
  }
}

.index {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $footinvest-black;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.contain {
  display: flex;
  justify-content: space-between;
}

.players {
  margin: 0px;
  display: block;
}

.player-row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr 2fr;
  grid-template-rows: 100%;
  grid-gap: 10px;
  align-items: center;
  overflow: hidden;
  height: 66px;
  padding: 10px;
  // margin: auto;
  margin: 30px;
  margin-bottom: 5px;
  // background: rgb(245, 245, 245);
  // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  // border-radius: 5px;
  border-bottom: 0.5px dotted rgb(222, 222, 222);
  font-size: 16px;
  img {
    border: 1px solid rgb(222, 222, 222);
    border-radius: 50%;
    align-content: center;
  }
}

.photo {
  display: flex;
  justify-content: center;
}

.player {
  h5 {
    margin: 0 0;
    font-size: 16px;
  }
  p {
    margin-bottom: 0px;
  }
  a {
    color: $footinvest-black;
    &:hover {
      background: $footinvest-main;
      color: white;
    }
  }
}

.sport-stats {
  text-align: center;
}

#red {
  margin-bottom: 0px;
  color: #FF006B;
  font-size: 16px;
  // background: #ffe1e0;
}

#yellow {
  margin-bottom: 0px;
  color: #F2C94C;
}

#green {
  margin-bottom: 0px;
  color: #21CD9A;
  font-size: 16px;
  // background: #9DF3DC;
}

.prices {
  text-align: center;
}

.variations {
  text-align: center;
}

.tokens {
  text-align: center;
}

#dashboard {
  width: 100%;
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  overflow: hidden;
}

.buy-sell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#amount {
  width: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: white;
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #F0F0F0;
  padding: 14px 22px;
  border: 1px solid rgb(200, 200, 200);
  opacity: 1;
  a {
    color: white;
  }
}
