<div class="container-stats">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="flex-container">
        <div class="flex-item col-xs-3">
          <h5><strong>1 million +</strong></h5>
          <h6>clients</h6>
        </div>
        <div class="flex-item col-xs-3">
          <h5><strong>€21 million +</strong></h5>
          <h6>traded since 2018</h6>
        </div>
        <div class="flex-item col-xs-3">
          <h5><strong>200 +</strong></h5>
          <h6>players</h6>
        </div>
        <div class="flex-item col-xs-3">
          <h5><strong>24/7 live chat</strong></h5>
          <h6>and trading</h6>
        </div>
      </div>
    </div>
  </div>
</div>
