<div class="container-stats">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="flex-container">
        <div class="flex-item col-xs-3">
          <h5><strong>1 million +</strong></h5>
          <h6>clients</h6>
        </div>
        <div class="flex-item col-xs-3">
          <h5><strong>€21 million +</strong></h5>
          <h6>traded since 2018</h6>
        </div>
        <div class="flex-item col-xs-3">
          <h5><strong>200 +</strong></h5>
          <h6>players</h6>
        </div>
        <div class="flex-item col-xs-3">
          <h5><strong>24/7 live chat</strong></h5>
          <h6>and trading</h6>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class = "row">
    <div class = "col-sm-6 bloco">
      <h3>Deposit &nbsp;<i class="fas fa-credit-card"></i></h3>
      <p>Bitfinex offers the most liquid order book in the world, allowing users to easily exchange Bitcoin, Ethereum, EOS, Litecoin, Ripple, NEO and many other digital assets with minimal slippage.</p>
    </div>
    <div class = "col-sm-6 bloco">
      <h3>Check players &nbsp;<i class="fas fa-search"></i> </h3>
      <p>Bitfinex allows up to 3.3x leverage trading by providing traders with access to the peer-to-peer funding market.</p>
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-6 bloco">
      <h3>Start Trading &nbsp;<i class="fas fa-chart-line"></i></h3>
      <p>Bitfinex offers the most liquid order book in the world, allowing users to easily exchange Bitcoin, Ethereum, EOS, Litecoin, Ripple, NEO and many other digital assets with minimal slippage.
      </p>
    </div>
    <div class = "col-sm-6 bloco">
      <h3>Profit &nbsp;<i class="fas fa-hand-holding-usd"></i></h3>
      <p>Bitfinex allows up to 3.3x leverage trading by providing traders with access to the peer-to-peer funding market.</p>
    </div>
  </div>

