<br>

<div>
  <h3 class="bloco padding">If stock markets are not for you and football is your passion... footinvest might be the solution!</h3>
</div>

<div class = "row">
  <div class = "col-sm-6 bloco">
    <h3>1. Deposit &nbsp;<i class="fas fa-credit-card"></i></h3>
    <p>Trade up to £500 Risk Free. Simply create an account to get started. Deposit from just €10 then build your portfolio of footballers and start trading.</p>
  </div>
  <div class = "col-sm-6 bloco">
    <h3>2. Check players &nbsp;<i class="fas fa-search"></i> </h3>
    <p>Footinvest allows you to check every players updated performance. Look at every player's stats and invest based on his form.</p>
  </div>
</div>
<div class = "row">
  <div class = "col-sm-6 bloco">
    <h3>3. Start Trading &nbsp;<i class="fas fa-chart-line"></i></h3>
    <p>Trade player's coins based on each player market value. You can buy/sell coins of every player in the market. If stock markets aren't for you....Footinvest might be the solution!
    </p>
  </div>
  <div class = "col-sm-6 bloco">
    <h3>4. Profit &nbsp;<i class="fas fa-hand-holding-usd"></i></h3>
    <p>Invest smart. Buy low, sell high and retrieve profits from players market value variation and keep track of your players performances.</p>
  </div>
</div>

<br><br><br>


  <div class = "row">
    <div class = "col-sm-6 bloco">
      <h3><strong>1. Deposit &nbsp;<i class="fas fa-credit-card"></i></strong></h3>
      <p>Trade up to 500€ risk free. Simply create an account to get started. Deposit a minimum of 10€, build a portfolio of footballers which may be undervalued and start trading!</p>
    </div>
    <div class = "col-sm-6 bloco">
      <h3><strong>2. Prospect Players &nbsp;<i class="fas fa-search"></i></strong></h3>
      <p>Footinvest allows you to check updated performances. Look at each player's individual stats, understand their form and invest based on your envisioned outlook.</p>
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-6 bloco">
      <h3><strong>3. Start Trading &nbsp;<i class="fas fa-chart-line"></i></strong></h3>
      <p>Trade players coins based on their market value. You can buy and sell coins for any player in the market.</p>
    </div>
    <div class = "col-sm-6 bloco">
      <h3><strong>4. Profit &nbsp;<i class="fas fa-hand-holding-usd"></i></strong></h3>
      <p>Invest smart. Buy low, sell high and retrieve profits from the players market value fluctuation, keeping track of your team’s performances.</p>
    </div>
  </div>