<!-- Footer -->
<footer class="footer">

    <div class="text-md-left mt-5">

      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <h3 class="font-weight-bold"><strong></strong>Take your tradings to the next level with footinvest.</h3>

          <br>

          <div class="btn-footer-filled">
            <%= link_to t(".sign_up", default: "Create Account"), new_user_registration_path%>
          </div>

          <br>

          <div class="btn-footer-transparent">
            <%= link_to t(".sign_in", default: "Sign In"), new_user_session_path%>
          </div>

        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <h4 class="font-weight-bold">Products</h4>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
          <p>API</p>
          <p>Notifications</p>
          <p>Mailing</p>
          <p>Stops</p>
          <p>Share</p>
          <p>24/7 Support</p>
          <p>Security</p>

        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <h4 class="font-weight-bold">Price</h4>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Prices Overview</p>
          <p>Policies</p>

        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h4 class="font-weight-bold">About</h4>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Why footinvest</p>
          <p>Press</p>
          <p>Contact</p>
          <p>Careers</p>

        </div>

      </div>

    </div>

    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 200px;">

    <div class="social-midias">
      <a class="fb-ic">
        <i class="fab fa-facebook-f white-text mr-4"> </i>
      </a> &nbsp;
      <a class="tw-ic">
        <i class="fab fa-twitter white-text mr-4"> </i>
      </a> &nbsp;
      <a class="li-ic">
        <i class="fab fa-linkedin-in white-text mr-4"> </i>
      </a> &nbsp;
      <a class="ins-ic">
        <i class="fab fa-instagram white-text"> </i>
      </a>
    </div>

    <br>

</footer>
