
<div class="banner">
  <div class="banner-content">
    <h1>Can you spot a Star?</h1>
    <p>Become a real football investor and make money, transparently</p>
    <div>
    <%#= link_to t(".sign_up", default: "Rent a player"), new_club_registration_path, class: "btn btn-primary" %>
    <!-- <button class="" type="button">Rent a player</button> -->
  </div>
</div>
