<div class="header-search">
  <div class="search-bar">
    <%= render 'form' %>
  </div>
</div>
<div class="container-market margin-top margin-sides">
  <%#= form_tag players_path, remote: true, method: :get do %>
    <%#= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a player"
    %>
  <%# end %>
  <div id="players-list">

    <%= render 'market' %>
  </div>
  <br>
  <br>

</div>
