<h1>Players#index</h1>
<p>Find me in app/views/players/index.html.erb</p>

<% alltoken = Token.where(owner: nil) %>
<ul>
  <% alltoken.each do |t| %>
    <li><%= t.id %> <%= t.owner %> </li>
  <% end %>
</ul>


<div class="container">
  <%#= form_tag players_path, remote: true, method: :get do %>
    <%#= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a player"
    %>
  <%# end %>
  <%= render 'form' %>
  <div class="players">
    <%= render 'market' %>
  </div>
</div>

