<div class="container-market">
  <%#= form_tag players_path, remote: true, method: :get do %>
    <%#= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a player"
    %>
  <%# end %>
  <h1>Search</h1>
  <div class="search-bar">
    <%= render 'form' %>
  </div>
  <div class="players">
    <%= render 'market' %>
  </div>
  <br>
  <br>
</div>

