.container-stats {
  height: 140px;
  background-color: $footinvest-blue;
  display: flex;
}

.flex-item {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: auto;
}

.bloco{
  padding-right: 100px;
  padding-left: 100px;
}

.bloco h3 {
  color: $footinvest-blue;
  font-size: 31px;
}

.bloco p {
  color: #333333;
}

.bloco i {
  color: $footinvest-main;
}

.padding {
  padding: 0px 85px;
  color: $footinvest-blue;
  font-size: 32px;
  text-align: center;
}

.divisor{
  text-align:center;
  color: white;
  padding-top: 10px;

  h1 {
    font-size: 34px;
  }

  h6 {
    font-weight: lighter;
    margin-top: -10px;
  }
}

@media only screen and (max-width: 480px) {
  .bloco h3 {
    font-size: 20px;
  }

  .bloco p {
    font-size: 14px;
  }

  .bloco {
    padding-right: 60px;
    padding-left: 60px;
  }
}


