.container-stats {
  height: 100px;
  background-color: #6C63FF;
  display: flex;
}

.flex-item {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: auto;
}

.bloco{
padding-right: 50px;
padding-left: 50px;
}



