.banner-images2 {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }
}

.bloco2 {
  text-align:left;
}

.banner2 p {
  margin-top: 90px;
  margin-left: 73px;
  color: #403D58;
}
