
.banner2 {
  height: calc(100vh - 70px);
  padding-bottom: calc(70px + 50px + 37px);

  h1 {
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 45px;
    letter-spacing: -0.04em; // root font size (width do "M")
    color: #3F3D56;
  }

  h2 {
    margin-bottom: 2rem;
    font-weight: lighter;
    line-height: normal;
    font-size: 40px;
    letter-spacing: -0.02em; // root font size (width do "M")
    color: #3F3D56;
  }
}

.banner-images2 {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }
}

.bloco2 {
  text-align:left;
}

.banner2 p {
  margin-top: 90px;
  margin-left: 73px;
  color: #403D58;
}

@media only screen and (max-width: 480px) {
 .divisor {
    h6 {
      font-size: 10px;
    }

    h1 {
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .container-stats {
    height: 90px;
  }

  .bloco2 p {
    font-size: 12px;
    margin: 0;
    padding-right: 23px;
  }

  .banner2 {
    height: auto;
    padding-bottom: 70px;
    padding-top: 40px;
  }

  .banner-images2 img {
    margin-right: 47px;
    width: 163%;
    margin-top: 20px;
    transform: rotate(20deg);
  }
}


