.container-stats {
  height: 100px;
  background-color: #403D58;
  display: flex;
}

.flex-item {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: auto;
}

.bloco{
  padding-right: 50px;
  padding-left: 50px;
}

.bloco h3 {
  color: $footinvest-blue;
  font-size: 32px;
}

.bloco p {
  color: #333333;
}

.bloco i {
  color: $footinvest-main;
}

.padding {
  padding: 0px 85px;
  color: $footinvest-blue;
  font-size: 32px;
  text-align: center;
}

.divisor{
  text-align:center;
  color: white;
  padding-top: 10px;
}

.divisor h6 {
  font-weight: lighter;
}


