.btn-landing-blue {
  position: absolute;
  width: 169px;
  height: 62px;
  left: 200px;
  top: 562px;
  background: #6C63FF;
  border-radius: 40px;
  font-size: 18px;
  color: #FEFEFE;
  line-height: normal;
  padding: 20px 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-landing-blue:hover {
  text-decoration: none;
  color: $footinvest-main;
  background-color: white;
  border: 2px solid $footinvest-main;
}

.btn-landing-white {
  position: absolute;
  top: 41px;
  right: 20px;
  background: #FFFFFF;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  color: #6C63FF;
  border-radius: 40px;
  border: 2px solid #6C63FF;
  border-radius: 40px;
  padding: 18px 50px;
}
