.btn-landing {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: $footinvest-main;
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #F0F0F0;
  padding: 14px 35px;
  margin-bottom: 0px;
  margin-right: 16px;
  border: 1px solid $footinvest-main;
  opacity: 0.9;
  &:hover, &:focus {
    opacity: 1;
  }
  a {
    color: white;
  }
}

.btn-landing-white {
  background: white;
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: $footinvest-main;
  padding: 14px 35px;
  margin-bottom: 0px;
  margin-right: 10px;
  border: 1px solid $footinvest-main;
  opacity: 0.9;
  &:hover, &:focus {
    opacity: 1;
  }
  a {
    color: $footinvest-main;
  }
}

.btn-landing-purple {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: $footinvest-main;
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: white;
  height: 39px;
  padding: 0px 35px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 30px;
  border: 1px solid $footinvest-main;
  opacity: 0.9;
  &:hover, &:focus {
    opacity: 1;
  }
  a {
    color: $footinvest-blue;
  }
}

.btn-buy-green {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: $footinvest-main;
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #F0F0F0;
  padding: 14px 22px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: 1px solid $footinvest-main;
  opacity: 0.9;
  &:hover, &:focus {
    opacity: 1;
    color: white;
    text-decoration: none;
  }
  a {
    color: white;
  }
}

.btn-sell-red {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #FF006B;
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #F0F0F0;
  padding: 14px 22px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 0px;
  border: 1px solid #FF006B;
  opacity: 0.9;
  &:hover, &:focus {
    opacity: 1;
    color: white;
    text-decoration: none;
  }
  a {
    color: white;
  }
}

.btn-footer-filled {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: white;
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: white;
  padding: 15px 35px;
  width: 175px;

  &:hover, &:focus {
    opacity: 1;
  }
  a {
    color: #21CD9A;
  }
}

.btn-footer-transparent {
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  padding: 15px 35px;
  width: 175px;
  border: 1px solid #21CD9A;

  &:hover, &:focus {
    opacity: 1;
  }
  a {
    color: #21CD9A;
  }
}

.btn-footer-learn-more {
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  padding: 15px 35px;
  margin-bottom: 0px;
  margin-right: 72px;
  margin-left: 80px;
  border: 1px solid #6C63FF;
  opacity: 0.9;
  &:hover, &:focus {
    opacity: 1;
  }
  a {
    color: white;
  }
}
