.footer {
  background-color: #403D58;
  color: #21CD9A !important;
  text-decoration: none;
}

.footer-content {
  padding-top: 40px;
}

.social-midias {
  text-align: center;
  font-size: 25px;
  i {
    color: white;
  }
}

.mx-auto h4 {
  opacity: 0.5;
}

.mx-auto p {
  font-size: 15px;
}

.mx-auto {
  h3 {
    margin-top: 8px;
  }
  hr {
    width: 90px;
    margin-left: inherit;
  }
}

.footer-copyright {
  font-size: 12px;
}

.col-lg-4 {
  margin-left: 90px;
}

.btn-footer-transparent a {
  padding: 27px;
}

.mx-auto h3 {
  margin-right: 27px;
}

@media only screen and (max-width: 480px) {
  .mx-auto {
    h3 {
      font-size: 25px;
      margin-left: -38px;
    }

    h4 {
      display: none;
    }

    p {
      display: none;
    }

    hr {
      display: none;
    }
  }
}
