.form-group{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.form-check-label {
  margin-left: 18px;
}

.login {
  margin-left: 220px;
}

.forgot-pass {
  margin-left: 25px;
}
.form-control {
  color: $footinvest-main;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  margin-bottom: 10px;
  width: 300px;
}

.form {
  display: flex;
  justify-content: center;
  align-item: center;
}
